--ROW
body{
    font-family: sans-serif;
}
.wall-north {
    border-top: 2px solid black;
}

.wall-east {
    border-right: 2px solid black;
}

.wall-south {
    border-bottom: 2px solid black;
}

.wall-west {
    border-left: 2px solid black;
}
.cell{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: rgb(110, 117, 129);
}
.visited {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color:rgb(120, 253, 37);
}
.optimal {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color:red;
}
#board{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(var(--ROW), 60px);
}
#board-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
h1 {
    text-align: center;
    color: rgb(120, 253, 37);
}
button {
    color: rgb(120, 253, 37);
    margin: 20px;
    min-width: 200px;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#show-path{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color:rgb(120, 253, 37);
}
#show-optimal{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color:red;
}
.paths {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#buttons {
    display:flex;
    flex-direction: row;
}
.hidden {
    display: none;
}
#path-show{
    color: rgb(120, 253, 37);
}
#path-opt{
    color: red;
}
.border-board {
    border: 5px solid black;
}